# Chave do Google (ativa a IA)
GOOGLE_API_KEY=AIzaSyAG9AYX0dKfdDyxE93PpC-TNLl89vJNXT8

# Proxy (para contornar o bloqueio da API ML)
# Exemplo ScraperAPI:
ML_PROXY_URL=https://api.zenrows.com/v1/?apikey=d54b492e8b0d481b4bf42c37042a3505d6f693a&url=
ML_PROXY_EXTRA=&country=br&js_render=false
